body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Smallest_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:37px;
    width:421px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:427px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:9px;
    width:417px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Smallest_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:99px;
    width:421px;
    height:53px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:427px;
    height:59px;
}

.u3 {
    position:absolute;
    left:2px;
    top:18px;
    width:417px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:310px;
    top:104px;
    width:19px;
    height:19px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:329px;
    top:104px;
    width:19px;
    height:19px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u8_container {
    position:absolute;
    left:348px;
    top:104px;
    width:19px;
    height:19px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:366px;
    top:104px;
    width:19px;
    height:19px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u12_container {
    position:absolute;
    left:385px;
    top:104px;
    width:19px;
    height:19px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Smallest_files/u4_normal.png');
}

.u14_container {
    position:absolute;
    left:404px;
    top:104px;
    width:19px;
    height:19px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:20px;
    top:104px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:20px;
    top:128px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Smallest_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:409px;
    top:130px;
    width:14px;
    height:14px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:20px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:0px;
    width:10px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Smallest_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:10px;
    top:152px;
    width:421px;
    height:58px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:427px;
    height:64px;
}

.u21 {
    position:absolute;
    left:2px;
    top:21px;
    width:417px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u22_container {
    position:absolute;
    left:206px;
    top:39px;
    width:30px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Smallest_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:213px;
    top:43px;
    width:5px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:26px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Smallest_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:224px;
    top:43px;
    width:5px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:11px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Smallest_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:16px;
    top:47px;
    width:12px;
    height:12px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Smallest_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:30px;
    top:47px;
    width:12px;
    height:12px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Smallest_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:399px;
    top:47px;
    width:12px;
    height:12px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Smallest_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:413px;
    top:47px;
    width:12px;
    height:12px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Smallest_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:58px;
    top:176px;
    width:326px;
    height:10px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:332px;
    height:16px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-3px;
    width:322px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Smallest_files/Mute_Icon_u38_normal.png');
}

.u38_container {
    position:absolute;
    left:30px;
    top:172px;
    width:19px;
    height:19px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Smallest_files/Mute_Icon_u38_normal.png');
}

.u40_container {
    position:absolute;
    left:395px;
    top:172px;
    width:19px;
    height:19px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Smallest_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:58px;
    top:176px;
    width:207px;
    height:10px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:213px;
    height:16px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-3px;
    width:203px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Smallest_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:253px;
    top:171px;
    width:20px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Smallest_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:71px;
    width:421px;
    height:28px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:427px;
    height:34px;
}

.u47 {
    position:absolute;
    left:2px;
    top:6px;
    width:417px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Smallest_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:10px;
    top:71px;
    width:180px;
    height:28px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:34px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:13px;
    top:71px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:399px;
    top:71px;
    width:30px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_line {
    background-image: url('../Smallest_files/u52_line.png');
}

.u52_line {
    position:absolute;
    left:0px;
    top:3px;
    width:421px;
    height:5px;
}

.u52 {
    position:absolute;
    left:10px;
    top:82px;
    width:421px;
    height:10px;
    
}

.u53_line {
    background-image: url('../Smallest_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:0px;
    top:3px;
    width:180px;
    height:5px;
}

.u53 {
    position:absolute;
    left:10px;
    top:82px;
    width:180px;
    height:10px;
    
}

.u54_line {
    background-image: url('../Smallest_files/u54_line.png');
}

.u54_line {
    position:absolute;
    left:0px;
    top:4px;
    width:421px;
    height:3px;
}

.u54 {
    position:absolute;
    left:10px;
    top:147px;
    width:421px;
    height:10px;
    
}

.u55_normal {
    background-image: url('../Smallest_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:10px;
    top:10px;
    width:421px;
    height:27px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:427px;
    height:33px;
}

.u56 {
    position:absolute;
    left:2px;
    top:6px;
    width:417px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:46px;
    top:15px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Smallest_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:17px;
    top:14px;
    width:20px;
    height:15px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:15px;
}

.u59 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Smallest_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:401px;
    top:12px;
    width:24px;
    height:16px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:22px;
}

.u61 {
    position:absolute;
    left:2px;
    top:0px;
    width:20px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Smallest_files/u60_normal.png');
}

.u62_container {
    position:absolute;
    left:377px;
    top:12px;
    width:24px;
    height:16px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:22px;
}

.u63 {
    position:absolute;
    left:2px;
    top:1px;
    width:20px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Smallest_files/u60_normal.png');
}

.u64_container {
    position:absolute;
    left:353px;
    top:12px;
    width:24px;
    height:16px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:22px;
}

.u65 {
    position:absolute;
    left:2px;
    top:0px;
    width:20px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

