

#u2052_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:244px;
    height:25px;
}

.u2053 {
    position:absolute;
    left:2px;
    top:2px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2054_line {
    background-image: url('../Analytics_files/u2054_line.png');
}

.u2054_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:481px;
}

.u2054 {
    position:absolute;
    left:-4px;
    top:31px;
    width:10px;
    height:481px;
    
}

#u2055 {
    position:absolute;
    left:266px;
    top:102px;
    width:219px;
    height:80px;
    overflow:hidden;
}

#pd0u2055 {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:80px;
    
}

.u2056_normal {
    background-image: url('../Analytics_files/u2056_normal.png');
}

.u2056_container {
    position:absolute;
    left:0px;
    top:0px;
    width:216px;
    height:76px;
}

#u2056_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:82px;
}

.u2057 {
    position:absolute;
    left:2px;
    top:30px;
    width:212px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2058 {
    position:absolute;
    left:29px;
    top:8px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2059_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2059_container {
    position:absolute;
    left:12px;
    top:11px;
    width:12px;
    height:12px;
}

#u2059_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2060 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2061 {
    position:absolute;
    left:29px;
    top:29px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2062_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2062_container {
    position:absolute;
    left:12px;
    top:32px;
    width:12px;
    height:12px;
}

#u2062_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2063 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2064 {
    position:absolute;
    left:29px;
    top:51px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2065_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2065_container {
    position:absolute;
    left:12px;
    top:54px;
    width:12px;
    height:12px;
}

#u2065_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2066 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2067 {
    position:absolute;
    left:142px;
    top:28px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2068_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2068_container {
    position:absolute;
    left:125px;
    top:31px;
    width:12px;
    height:12px;
}

#u2068_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2069 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2070 {
    position:absolute;
    left:142px;
    top:49px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2071_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2071_container {
    position:absolute;
    left:125px;
    top:52px;
    width:12px;
    height:12px;
}

#u2071_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2072 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2073 {
    position:absolute;
    left:142px;
    top:7px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2074_normal {
    background-image: url('../Analytics_files/Stats_View_Option_Icon_u2059_normal.png');
}

.u2074_container {
    position:absolute;
    left:125px;
    top:10px;
    width:12px;
    height:12px;
}

#u2074_img {
    position:absolute;
    left:0px;
    top:0px;
    width:12px;
    height:12px;
}

.u2075 {
    position:absolute;
    left:2px;
    top:-2px;
    width:8px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2076_normal {
    background-image: url('../Analytics_files/u2076_normal.png');
}

.u2076_container {
    position:absolute;
    left:673px;
    top:652px;
    width:113px;
    height:17px;
}

#u2076_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:119px;
    height:23px;
}

.u2077 {
    position:absolute;
    left:2px;
    top:0px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2078_normal {
    background-image: url('../Analytics_files/u2078_normal.png');
}

.u2078_container {
    position:absolute;
    left:767px;
    top:657px;
    width:8px;
    height:8px;
}

#u2078_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:14px;
}

.u2079 {
    position:absolute;
    left:2px;
    top:-4px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2080 {
    position:absolute;
    left:676px;
    top:654px;
    width:85px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

