<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bloom.State.Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bloom.State.Domain.Properties.Settings>
            <setting name="SidebarWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value>Rock</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SuiteName" serializeAs="String">
                <value>Bloom</value>
            </setting>
        </Bloom.State.Domain.Properties.Settings>
    </applicationSettings>
</configuration>