<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Bloom.State.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <Bloom.State.Data.Properties.Settings>
      <setting name="DatabaseFile" serializeAs="String">
        <value>Active.blms</value>
      </setting>
      <setting name="LocalFolder" serializeAs="String">
        <value>Bloom</value>
      </setting>
    </Bloom.State.Data.Properties.Settings>
  </applicationSettings>
</configuration>